{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div class=" container page-top">
<br>
    <br>
    <h1>About</h1>
</div>
<br>
<div class="container">
    <br>
    <p>
        The algorithm was developed by Sapir Israeli and Prof. Yoram Louzoun at Bar-Ilan University.
        <br>
        This website was implemented by Yuli Tshuva.
        <br>
        A standalone version code is available at the <a href="https://github.com/louzounlab/EFS">GitHub repository</a>.
        <br>
        Visit <a href="https://yolo.math.biu.ac.il/">Prof. Louzoun's lab website</a> to further explore the lab's research domains.
    </p>

</div>

{% endblock %}
