{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container page-top">
    <br>
        <br>
        <h1>Example</h1>
    </div>
    <br>
    <div class="container">
        <br>
        <p>
            The model predicts the risk for 5 events: EFS, death, GVHD, rejection and relapse after one year from
            haematopoietic stem cell transplantation and the percentile.
            <br>
            To predict those outcomes, fill in the fields in the tab “Home”.
            <br>
            You don't have to fill in all the fields except “Matching at HLA-A,-B,-C,-DRB1” and “Donor type” in the
            donor section, but filling in the other fields is advisable to get more accurate results. After filling in
            the fields click "Predict". </p>

    </div>

{% endblock %}
